
* {
  box-sizing: border-box;
}

body {
	background: #FAFAFA;
}

.App {
  text-align: center;
  width: 1054px;
  margin: 0 auto;
  background-color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  width: 954px;
}

tr {
  background-color: #ffffff;
  color: #474747;
  font-size: 13px;
  font-family: "Helvetica", "Arial Narrow", Arial, sans-serif;
}

table tr:not(.table-captions) {
  height: 70px;
}

td,
th {
  text-align: justify;
  /* background-color: #ff33cc; */
}

td button {
  width: 95px;
  height: 30px;
  border: 1px;
  border-radius: 10px;
}

input[type="search"] {
  height: 45px;
  width: 954px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
